<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Enroll in a Course</title>
  </head>   
  <body>
    <h2>Fill the enrollment form</h2>
    <form action="{{ url_for('enroll_course') }}" method="post">
        <label for="firstName">First Name:</label><br>
        <input type="text" id="firstName" name="firstName" required><br><br>
        
        <label for="lastName">Last Name:</label><br>
        <input type="text" id="lastName" name="lastName" required><br><br>
        
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br><br>
        
        <label for="courseToken">Course Token:</label><br>
        <input type="text" id="courseToken" name="courseToken" required><br><br>
        
        <button type="submit">Enroll</button>
    </form>

    <br>
    <!-- Button to go back to home -->
    <form action="{{ url_for('student_options') }}">
        <button type="submit">Go Back</button>
    </form>
  </body>
</html>