<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main Menu</title>
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <ul>
      {% for category, message in messages %}
      <li class="flash-{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
    <h1>Welcome to the E-Textbook and Assessment Platform</h1>
    <h2>Please select your role to log in:</h2>
    <ul>
      <li><a href="{{ url_for('admin_login') }}">Admin Login</a></li>
      <li><a href="{{ url_for('faculty_login') }}">Faculty Login</a></li>
      <li>
        <a href="{{ url_for('ta.ta_login') }}">Teaching Assistant Login</a>
      </li>
      <li><a href="{{ url_for('student_options') }}">Student Login</a></li>
        <li><a href="{{ url_for('query_screen') }}">Query Screen</a></li>
      <li><a href="{{ url_for('exit_app') }}">Exit</a></li>
    </ul>
  </body>
</html>
