<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Content</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
            {% for category, message in messages %}
                <li class="flash-{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    
    <h1>Please complete below activity to gain points</h1>
    <form action="{{ url_for('activity_view') }}" method="post">
        <div class="question-block">
            <h3>{{ question.question }}</h3>
    
            {% for option in answer_options %}
                <label>
                    <input type="radio" name="answer" value="{{ option['answerId'] }}" required>
                    {{ option['answer'] }}
                </label><br>
            {% endfor %}
        </div>
    
        <button type="submit">Submit</button>
    </form>
</body>
</html>