<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Courses</title>
</head>
<body>
    <!-- Display flash messages -->
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        <ul>
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <h1>Your Assigned Courses</h1>
    {% if courses %}
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Type</th>
            </tr>
            {% for course in courses %}
            <tr>
                <td>{{ course[0] }}</td>
                <td>{{ course[1] }}</td>
                <td>{{ course[2] }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No courses assigned.</p>
    {% endif %}

    <h2>Options in the Menu:</h2>
    <ul>
        <li><a href="{{ url_for('faculty_dashboard') }}">Go Back</a></li>
    </ul>
</body>
</html>
